# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Users\eugen\Desktop\Eugenio\UNIVERSITA\Slides Lezioni\Slides Lezioni 3° anno\Primo Semestre\Fondamenti di Intelligenza Artificiale\3-Progetti\Progetto\Road_Signs_Classification\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
